.team-img img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.lisa {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.team-img {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
}